
@media (max-width:768px) {
  .footer {
    flex-direction: column;

  }
}

@media (max-width:768px) {
  .food__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5px;
  }
}


@media (max-width:768px) {
  .food__content-reverse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5px;
  }
}

@media (max-width:520px) {
    img {
      width: 200px;
      height: 340px;
      }
  }

@media (max-width:720px) {
  body {
    max-width: 720px;
  }
}

@media (max-width:768px) {
  .menu {
    flex-direction: column;
    font-size: 40px;
  }
}